/*
    Navigation menu 
    (ul.nav, #active, li.nav a)
*/

ul.nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: 1px solid lightgray;
    border-top: 3px solid #8d15dd;
    background-color: rgb(241, 241, 241);
}

#active{
    color: #8d15dd;
}

li.nav a {
    display: block;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: large;
    padding: 14px 16px;
    text-decoration: none;
}

/*
    General font & formatting
*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

section {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: xx-large;
    color: gray;
    font-weight: normal;
}

h2 {
    color: gray;
    font-weight: normal;
}

h3 {
    color: gray;
    font-weight: normal;
}

div.footnote {
    color: gray;
    font-size: medium;
    font-weight: 600;
    padding-top: 100px;
}

.link {
    color: #8d15dd;
    font-size: medium;
    font-weight: 600;
    text-decoration: none;
}

ul#interests {
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}

ul#interests li{
    padding: 10px;
}
/*
    For the picture column of each page
*/
div.identity {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-right: 1px solid lightgray;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
    flex-grow: 1;
    max-width: 300px;
}

img {
    border-radius: 50%;
    box-shadow: 10px 10px 5px gray;
}

p#email {
    color: #8d15dd;
}

/*
    For the footer on each paage
*/

div#footer {
    position: fixed;
    text-align: center;
    font-size: small;
    border-top: 1px solid lightgray;
    bottom: 10px;
    padding: 20px;
    width: 100%;
}

/*
    For the content column
    on each page
*/
div.content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
    max-width: 650px
}

h1.title {
    flex-grow: 0.2;
}


/*
    For the skills page
*/

progress {
    position: relative;
    height: 30px;
    width: 600px;
    
}



/*
    For the education/experience pages
*/

tr > * + * {
    padding-left: 5vw;
    padding-right: 1px;
    margin-right: 1px;
}

tr.degree {
    font-size: larger;
}

tr.loc {
    font-size: medium;
}




/*
    For screen reactivity
*/

@media only screen and (max-width: 1300px) {
    progress {
        width: 46vw;
    }
}


@media only screen and (max-width: 1000px) {
    div.content{
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        max-width: 100vw;
    }

    div.identity{
        padding: 10px;
        border-bottom: 1px solid lightgray;
        border-right: none;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div#footer {
        padding: none;
    }

    progress.skillprog {
        width: 70vw;
    }
    tr > * + * {
        padding-left: 20vw;
    }

    div.footnote {
        padding-top: 5px;
    }


}